<div class="invite-container">
  <div class="invite-header">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>


  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let invite"> {{invite.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="CNI">
      <mat-header-cell *matHeaderCellDef> CNI </mat-header-cell>
      <mat-cell *matCellDef="let invite"> {{invite.cni}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="TITRE">
      <mat-header-cell *matHeaderCellDef> TITRE </mat-header-cell>
      <mat-cell *matCellDef="let invite"> {{invite.titre}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="NOM">
      <mat-header-cell *matHeaderCellDef> NOM </mat-header-cell>
      <mat-cell *matCellDef="let invite"> {{invite.nom}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="PRENOM">
      <mat-header-cell *matHeaderCellDef> PRENOM </mat-header-cell>
      <mat-cell *matCellDef="let invite"> {{invite.prenom}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="RAISON">
      <mat-header-cell *matHeaderCellDef> RAISON </mat-header-cell>
      <mat-cell *matCellDef="let invite"> {{invite.raison}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="PROFIL">
      <mat-header-cell *matHeaderCellDef> PROFIL </mat-header-cell>
      <mat-cell *matCellDef="let invite"> {{invite.profil}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="SELECT">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
    </div>
  </div>

