<div class="row">
  <div class="col-md-10"  *ngIf="matiere">
    <div class="card text-center">
      <div class="card-header">Detail matière</div>

      <div class="card-body">

        <div class="row">
          <div class="col-md-3 ">
            <span class="badge badge-secondary pull-right">ID:</span>
          </div>
          <div class="col-md-auto pull-left">
            {{matiere.id}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span class="badge badge-secondary pull-right">Libellé:</span>
          </div>
          <div class="col-md-auto pull-left">
            {{matiere.libelle}}
          </div>
          .
        </div>
        <div class="row">
          <div class="col-md-3 ">
            <span class="badge badge-secondary pull-right">Description:</span>
          </div>
          <div class="col-md-auto pull-left">
            <p>{{matiere.description}}</p>
          </div>
        </div>
      </div>
      <div class="card-footer">

        <button class="btn btn-success pull-left" (click)="editerMatiere(matiere)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
        <button class="btn btn-danger pull-right" (click)="supprimerMatiere(matiere)"><i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>


  </div>
</div>
