<mat-sidenav-container>
  <div *ngIf="editMode; else newEnseignant">
    <div class="">
      <mat-card>
        <mat-card-header>
          <mat-card-title> MODIFIER</mat-card-title>
          <mat-card-subtitle>UN PROFESSEURS</mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="enseignantForm" (ngSubmit)="onSubmit()" novalidate *ngIf="enseignantForm">
          <mat-form-field>
            <input matInput placeholder="Carte d'identité" formControlName="cni">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="titre" formControlName="titre">
              <mat-option *ngFor="let t of titres" [value]=t.name>
                {{t.libelle}}
              </mat-option>

            </mat-select>

          </mat-form-field>
          <table>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Nom" formControlName="nom">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Prenom" formControlName="prenom">
                </mat-form-field>
              </td>

            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Specialite" formControlName="specialite">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Statut" formControlName="statut">
                </mat-form-field>
              </td>
            </tr>
          </table>

          <div formGroupName="adresse">
            <mat-expansion-panel matTooltip="les adresses" matTooltipPosition="above">
              <mat-expansion-panel-header>
                <mat-panel-title>Adresse des professeurs</mat-panel-title>
                <mat-panel-description>Entrer les Adresses</mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <mat-form-field>
                  <input matInput placeholder="Code Postal" formControlName="codePostal">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Quartier" formControlName="quartier">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Ville" formControlName="ville">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </div>
          <hr>
          <div>
            <mat-expansion-panel matTooltip="Contactcts telephoniques" matTooltipPosition="before">
              <mat-expansion-panel-header>
                <mat-panel-title>Les contacts</mat-panel-title>
                <mat-panel-description>Saisir les contacts</mat-panel-description>
              </mat-expansion-panel-header>
              <div formArrayName="telephones">
                <div *ngFor="let tel of enseignantForm.get('telephones').controls; let i = index;">
                  <mat-panel-title>
                    <mat-action-row>
                      Telephone #{{i+1}}
                    </mat-action-row>
                    <mat-action-row>
                      <button type="button" mat-mini-fab color="warn" (click)="removeTephone(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-action-row>
                  </mat-panel-title>
                  <div [formGroupName]="i">
                    <mat-action-row>
                      <mat-form-field>
                        <mat-select placeholder="type" formControlName="type">
                          <mat-option *ngFor="let t of typeTelephones" [value]=t.name>
                            {{t.libelle}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Entrer le numero" formControlName="numero">
                      </mat-form-field>
                    </mat-action-row>
                  </div>
                </div>
                <mat-action-row>
                  <button mat-raised-button color="warn" type="button" (click)="ajouTelephone()"
                          matTooltip="ajout telephone" matTooltipPosition="above">Ajout Telephone
                  </button>
                </mat-action-row>
              </div>
            </mat-expansion-panel>
          </div>
          <hr>
          <div>
            <button mat-raised-button color="primary" type="submit" matTooltip="sauver le prof" matTooltipPosition="before"> Modifier</button>
            <button mat-raised-button color="accent" type="button" matTooltip="annuler l'enregistrement" matTooltipPosition="before" (click)="annuler()">Annuler</button>
          </div>
          <hr>

        </form>
      </mat-card>
    </div>
  </div>
  <ng-template #newEnseignant>
    <div class="well">

      <mat-card>
        <mat-card-header>
          <mat-card-title> ENREGISTRER</mat-card-title>
          <mat-card-subtitle>UN PROFESSEURS</mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="enseignantForm" (ngSubmit)="onSubmit()" novalidate>
          <mat-form-field>
            <input matInput placeholder="Carte d'identité" formControlName="cni">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="titre" formControlName="titre">
              <mat-option *ngFor="let t of titres" [value]=t.name>
                {{t.libelle}}
              </mat-option>

            </mat-select>

          </mat-form-field>
          <table>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Nom" formControlName="nom">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Prenom" formControlName="prenom">
                </mat-form-field>
              </td>

            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Specialite" formControlName="specialite">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Statut" formControlName="statut">
                </mat-form-field>
              </td>
            </tr>
          </table>

          <div formGroupName="adresse">
            <mat-expansion-panel matTooltip="les adresses" matTooltipPosition="above">
              <mat-expansion-panel-header>
                <mat-panel-title>Adresse des professeurs</mat-panel-title>
                <mat-panel-description>Entrer les Adresses</mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <mat-form-field>
                  <input matInput placeholder="Code Postal" formControlName="codePostal">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Quartier" formControlName="quartier">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Ville" formControlName="ville">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </div>
          <hr>
          <div>
            <mat-expansion-panel matTooltip="Contactcts telephoniques" matTooltipPosition="before">
              <mat-expansion-panel-header>
                <mat-panel-title>Les contacts</mat-panel-title>
                <mat-panel-description>Saisir les contacts</mat-panel-description>
              </mat-expansion-panel-header>
              <div formArrayName="telephones">
                <div *ngFor="let tel of enseignantForm.get('telephones').controls; let i = index;">
                  <mat-panel-title>
                    <mat-action-row>
                      Telephone #{{i+1}}
                    </mat-action-row>
                    <mat-action-row>
                      <button type="button" mat-mini-fab color="warn" (click)="removeTephone(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-action-row>
                  </mat-panel-title>
                  <div [formGroupName]="i">
                    <mat-action-row>
                      <mat-form-field>
                        <mat-select placeholder="type" formControlName="type">
                          <mat-option *ngFor="let t of typeTelephones" [value]=t.name>
                            {{t.libelle}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Entrer le numero" formControlName="numero">
                      </mat-form-field>
                    </mat-action-row>
                  </div>
                </div>
                <mat-action-row>
                  <button mat-raised-button color="warn" type="button" (click)="ajouTelephone()"
                          matTooltip="ajout telephone" matTooltipPosition="above">Ajout Telephone
                  </button>
                </mat-action-row>
              </div>
            </mat-expansion-panel>
          </div>
          <hr>
          <div>
            <button mat-raised-button color="primary" type="submit" matTooltip="sauver le prof" matTooltipPosition="before"> Enregistrer</button>
            <button mat-raised-button color="accent" type="button" matTooltip="annuler l'enregistrement" matTooltipPosition="before" (click)="annuler()">Annuler</button>
          </div>


        </form>
      </mat-card>
    </div>
  </ng-template>
</mat-sidenav-container>


<!--LE CODE AVANT-->
<!--

<div class="row container-1">
  <div  class="col-mat-6">

    <form [formGroup] = "enseignantForm" (ngSubmit) = "onSubmit()" novalidate>

      <mat-form-field class="ens">
        <input matInput placeholder="titre" formControlName="titre">
      </mat-form-field>

      <mat-form-field class="ens">
        <input matInput placeholder="Cni" formControlName="cni">
      </mat-form-field>

      <mat-form-field class="ens">
        <input matInput placeholder="Nom" formControlName="nom">
      </mat-form-field>

      <mat-form-field class="ens">
        <input matInput placeholder="Prenom" formControlName="prenom">
      </mat-form-field>

      <mat-form-field class="ens">
        <input matInput placeholder="Statut" formControlName="statut">
      </mat-form-field>

      <mat-form-field class="ens">
        <input matInput placeholder="Specialite" formControlName="specialite">
      </mat-form-field>

      &lt;!&ndash;<mat-form-field class="ens">
        <input matInput placeholder="Telephone" formControlName="telephone">
      </mat-form-field>
&ndash;&gt;


      <div class="button-row box-4">
        <mat-card-actions>
          <td><button mat-button color="primary">Enregistrer</button></td>
          <td><button mat-button color="accent">Annuler</button></td>
        </mat-card-actions>
      </div>
    </form>

  </div>

</div>
-->
