<div class="container">
  <div class="jumbotron text-center">
    <h2 style="color: orange" align="center">
      {{title}}
      <br><i class="fa fa-refresh fa-spin fa-3x fa-fw " align="center" style="color: black" ></i>
    </h2>
    <hr>
    <div>
      <button mat-raised-button   color="primary" (click)="onInvite()">INVITES</button>
      <button mat-raised-button   color="accent"  (click)="onEnseignant()">ENSEIGNANTS</button>
      <button mat-raised-button   color="warn"    (click)="onMatiere()">MATIERES</button>

    </div>
  </div>
</div>
